@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-white: hsl(0, 0%, 98%);
    --color-gray: hsl(0, 0%, 41%);
    --color-black: hsl(0, 0%, 8%);

    --font-main: 'Epilogue', sans-serif;

    --fs-xl: 2.8rem;
    --fs-600: 1.5rem;
    --fs-500: 1.2rem;
    --fs-400: 1rem;
}
@media (max-width: 800px){
    :root{
        --fs-xl: 2.4rem;
        --fs-400: 0.7rem;
    }
}
@media (max-width: 600px){
    :root{
        --fs-400: 0.9rem;
    }
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: var(--color-orange);
}
p{
    color: var(--color-gray);
    font-size: var(--fs-400);
    line-height: 1.5;
}
ul, ol{
    list-style: none;
}
html, body{
    font-size: 18px;
    min-height: 100%;
}
body{
    background-color: var(--color-white);
    font-family: var(--font-main);
    color: var(--color-black);
    width: 100%;
}
header{
    display: flex;
    align-items: center;
    padding: 20px 30px 40px;
    color: var(--color-gray);
}
header ul{
    font-size: var(--fs-400);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
header ul.first-li{
    flex-direction: row;
}
header ul.first-li li{
    position: relative;
    height: fit-content;
}
header span{
    display: none;
}
#nav-wrapper{
    margin-left: 20px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.nav-expansive{
    display: flex;
    align-items: center;
}
.nav-expansive::after{
    height: fit-content;
    content: url('./images/icon-arrow-down.svg');
    margin-left: 5px;
}
.hidden-li{
    transform: scale(0);
    transition: all 500ms cubic-bezier(0, 0.82, 0.28, 1.1);
}
.hidden-li.active{
    display: block;
    transform: scale(1);
}
.hidden-li{
    background-color: white;
    padding: 20px 30px;
    position: absolute;
    top: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}
.left-li{
    transform-origin: top right;
    right: 0;
}
.right-li{
    transform-origin: top left;
    left: 0;
}
.hidden-li ul{
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
ul#first-hidden-li li{
    margin-left: 10px;
}
ul#first-hidden-li li > *{
    margin-left: 10px;
}
ul#first-hidden-li li:nth-child(1)::marker{
    content: url('./images/icon-todo.svg');
}
ul#first-hidden-li li:nth-child(2)::marker{
    content: url('./images/icon-calendar.svg');
}
ul#first-hidden-li li:nth-child(3)::marker{
    content: url('./images/icon-reminders.svg');
}
ul#first-hidden-li li:nth-child(4)::marker{
    content: url('./images/icon-planning.svg');
}
#register{
    width: fit-content;
    padding: 10px 15px;
    border: 2px solid var(--color-gray);
    border-radius: 15px;
    background-color: transparent;
    transition: 0.3s;
}
main{
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    width: 90%;
    gap: 10%;
    margin: auto;
}
section h1{
    font-size: var(--fs-xl);
    font-weight: 700;
}
section{
    display: flex;
    flex-direction: column;
    height: inherit;
}
section article#main-content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 0;
}
section footer{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}
section footer img{
    margin: auto;
    max-width: 100%;
}
aside img{
    width: 100%;
}
a.bttn{
    width: fit-content;
    color: white;
    padding: 15px 20px;
    border: 2px solid var(--color-black);
    border-radius: 15px;
    background-color: var(--color-black);
    transition: 0.3s;
}
a.bttn:hover{
    background-color: transparent;
}
a:hover{
    color: var(--color-black);
}
@media (max-width: 600px) {
    body{
        overflow-x: hidden;
    }
    header{
        padding: 20px;
    }
    header nav{
        width: 100%;
    }
    #nav-wrapper{
        position: fixed;
        justify-content: flex-start;
        width: 60%;
        height: 100%;
        flex-direction: column;
        top: 0;
        right: -120%;
        padding: 100px 30px;
        gap: 50px;
        background-color: var(--color-white);
        transition: 0.3s;
        z-index: 2;
    }
    #black-background{
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        content: "";
        background-color: rgba(0,0,0,0.5);
        opacity: 0;
        z-index: 0;
    }
    #nav-wrapper.active{
        right: 0;
    }
    .hidden-li{
        position: absolute;
        transform: scale(0);
        transform-origin: top left;
        background-color: transparent;
        padding: 20px 15px 0;
        right: 0;
        top: 0;
        border-radius: 10px;
        box-shadow: none;
    }
    .hidden-li.active{
        position: relative;
    }
    header span{
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        content: url('./images/icon-menu.svg');
        cursor: pointer;
        z-index: 5;
    }
    header span.active{
        content: url('./images/icon-close-menu.svg');
    }
    header ul{
        flex-direction: column !important;
        align-items: center;
        text-align: center;
        width: 100%;
        gap: 20px;
    }
    header ul li, header ul *{
        width: 100% !important;
    }
    nav ul{
        align-items: flex-start;
    }
    nav ul li{
        text-align: left;
    }
    main{
        width: 100%;
        flex-direction: column;
    }
    section{
        box-sizing: content-box;
        order: 2;
    }
    section article#main-content{
        text-align: center;
        padding: 20px;
        align-items: center;
        height: 350px;
    }
    section footer{
        padding: 10px 10px 100px;
    }
}